<div class="footer" style="background-color: grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Footer</p>
        <p>Footer</p>
      </div>
    </div>
  </div>
</div>
