<div class='top-line'></div>
<div class='vertically-align'>
  <div id='home' class='container'>
    <div class='row'>
      <div class='col-xs-12 col-md-6 col-md-offset-3 text-center'>
        <%= image_tag('gitlang.png') %>
        <h1>GitHub Languages</h1>
        <div class='search-box'>
          <form class='search-form' action='/user' method='get'>
            <input class='form-control' placeholder='Github Username' type='text' name='user'>
            <button class='btn btn-link search-btn'>
              <i class='fa fa-search'></i>
            </button>
          </form>
        </div>
        <p>Discover your favorite programming languages. <a href='#'>About this site</a>.</p>
        <p id='about-the-site'>This website is built by <a href='#'>Alex</a>. It finds your favorite programming languages using your <a href='#'>GitHub</a> username. You can find out more <a href='#'>here</a>.</p>
      </div>
    </div>
  </div>
</div>
