body {
  background: #F7F7F7;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

.top-line {
  width: 100%;
  min-height: 3px;
  background-color: $brand-color;
}
